@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&display=swap');

body {
    background-color: rgb(60, 60, 60);
    color: white;
    font-family: "Montserrat", sans-serif;
    overflow: hidden;
}

input {
    font-size: 4vh;
    outline: none;
    border: none;
    font-weight: 700;
}

input:hover {
    opacity: 0.95;
}

button {
    border: none;
    outline: none;
    cursor: pointer;
    font-weight: 700;
}

button:not(:disabled):hover {
    opacity: 0.75;
}

div[button] {
    background-color: white;
    color: black;
    font-weight: 700;
    padding-right: 3px;
    padding-left: 1px;
}

div[button]:not([disabled]):hover {
    cursor: pointer;
    opacity: 0.75;
}

div[button]:is([disabled]) {
    cursor: not-allowed;
    opacity: 0.25;
}

*[onclick] {
    cursor: pointer;
}

* {
    font-family: "Montserrat", sans-serif;
}

header {
    font-weight: 700;
}