.Topbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    gap: 2vw;

    position: fixed;
    width: 100%;
    height: 4vh;
    left: 0;
    top: 0;

    background-color: rgba(0, 0, 0, 0.125);
}

.Topbar > * {
    display: flex;
    flex-direction: row;
    gap: 0.25vw;
    align-items: center;
}

.Topbar > *:first-child {
    margin-left: 2vw;
}

.Topbar > *:last-child {
    margin-right: 2vw;
}

.Topbar > * > * {
    align-content: center;
    height: 75%;
}

.Sale {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;

    position: absolute;
    width: 100%;
    height: 75%;

    top: 52.5%;
    left: 50%;
    transform: translate(-50%, -50%);

    background-color: rgb(50, 50, 50);
}

.Sale > div {
    position: relative;

    margin: 4vh;
    padding-left: 1vw;
    padding-right: 1vw;
    padding-top: 2vh;
    padding-bottom: 2vh;

    background-color: rgb(60, 60, 60);
    height: 24vh;
    width: 12vw;

    border-radius: 4px;
    overflow: hidden;

    transition: all 0.25s ease;

    cursor: pointer;
}

.Sale > div > div[button] {
    position: absolute;
    bottom: 8vh;
    left: 0;
    width: 100%;
    font-size: 4vh;
    text-align: center;

    opacity: 0;
    pointer-events: none;
    transition: opacity 0.25s ease;
}

.Sale > div > p {
    font-size: 1.25vh;
}

.Sale > div > small {
    position: absolute;
    bottom: 4vh;
    width: 100%;
}

.Sale > div > .PriceLabel {
    display: flex;
    flex-direction: row;
    gap: 1vw;

    font-size: 2vh;

    position: absolute;
    bottom: 0;
    left: 0;
    padding-left: 1vw;
    width: 100%;
    background-color: rgb(34, 150, 0);
    
    transition: all 0.25s ease;
}

.Sale > div:hover .PriceLabel,
.Sale > div:active .PriceLabel {
    background-color: rgb(25, 120, 0);
    font-weight: 900;
    font-size: 3vh;
}

.PriceLabel > a {
    opacity: 0;
    transition: opacity 0.25s ease;
}

.Sale > div:hover .PriceLabel > a,
.Sale > div:active .PriceLabel > a {
    opacity: 1;
}